# Dependencies
node_modules/
.pnpm-store/

# Build outputs
.next/
dist/
build/
.turbo/
*.tsbuildinfo

# Env
.env
.env.local
.env.*.local

# Prisma
packages/database/generated/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Tests
coverage/

# Docker volumes
infra/.data/
